/* ===================== Root Variables (Global) ===================== */
:root {
  --primary-color: #d102f7; /* Faith Blue */
  --primary-dark: #8712fe; /* Darker shade for hover */
  --text-color: #333;
  --text-red-color: #d14f42;
  --text-dark-red-color: #a2473e;
  --muted-text: #6b7280;
  --light-text: #9ca3af;
  --bg-white: #ffffff;
  --bg-dark: #3b3d4a;
}

/* ===================== Global Styles ===================== */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
